service {
  name = "nginx-exporter"
  id   = "nginx-exporter-{{inventory_hostname_short}}"
  port = 9113
  tags = ["monitoring"]
  tagged_addresses = {
    lan = {
      address = "127.0.0.1"
      port    = 9113
    }

    wan = {
      address = "127.0.0.1"
      port    = 9113
    }
  }
  checks = [
    {
      name     = "Nginx Exporter Health"
      http     = "http://localhost:9113"
      interval = "15s"
    }
  ]
}
